* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial;
}

.header {
  width: 100%;
  height: 3.125em;
  background-color: #C2185B;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9;
}

.logo {
  width: 5.1875em;
  height: 1.625em;
}

.logo img {
  width: 5.1875em;
  height: 1.625em;
}

.menu {
  background-image: url(img/menu.png);
  width: 1.625em;
  height: 1.0625em;
  margin: 0.9375em 0.625em 0 0;
  display: block;
}

.separation {
  width: 100%;
  height: 3.125em;
}

.nav {
  position: fixed;
  z-index: 9;
  margin-top: 3.125em;
}

.container-body {
  width: 100%;
  position: relative;
}

.container-banner img {
  width: 100%;
}

.shadow-banner {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
 }

.shadow-comment {
  width: 94%;
  height: 94%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 6;
  top: 3%;
  left: 3%;
}

.shadow-comment p {
  color: #FFF;
}

.title-comment {
  font-size: 0.8em;
  z-index: 8;
  text-align: center;
  margin-top: 7%;
  font-weight: bold;
}

.title-border {
  border-bottom: 4px solid #C2185B;
  width: 248px;
  margin: 0 auto;
}

.comment {
  font-size: 0.7em;
  width: 83%;
  margin: 5% auto 0;
}

.container-product, .container-service {
  width: 100%;
  padding: 10px;
}

.title-product, .title-service {
  width: 100%;
  background-color: #C2185B;
  color: #FFF;
  padding: 2% 3%;
}

.title-product h2, .title-service h2 {
  text-align: left;
  font-size: 1em;
}

.grid-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 100%;
  background-color: #EEEEEE;
  height: 50%;
  box-shadow: 3px 1px 5px #777777;
  margin-top: 15px;
}

.product img {
  width: 90%;
  border: 1px solid #C2185B;
  margin: 3.5% 3.5%;
}

.product h3 {
  color: #526CFE;
  font-size: 1em;
  padding-left: 3.5%;
  font-weight: normal;
}

.product p {
  font-size: 0.8em;
  padding: 3.5%
}

.separation-container {
  border: 1px solid #526CFE;
  margin: 15px 10px;
}

/* @media (min-width: 31.25em) { 500px

  .product {
    width: 100%;
    height: 50%;
    position: relative;
  }

  .product img {
    width: 40%;
    border: 1px solid #C2185B;
    margin: 3.5% 3.5%;
  }

  .product h3 {

    font-size: 1em;
    padding-left: 3.5%;
    font-weight: normal;
  }

  .product p {
    font-size: 0.8em;
    padding: 3.5%
  }

} */

@media (max-width: 35.625em) { /*570px*/

  .container-banner {
    height: 170px;
  }

  .container-banner img {
    height: 170px;
  }

}

@media (min-width: 35.625em) { /*570px*/

  .title-comment {
    font-size: 0.9em;
  }

  .title-border {
    width: 279px;
  }

  .comment {
    font-size: 0.8em;
  }

  .container-product, .container-service {
    margin-top: -3px;
  }

}

@media (min-width: 38.25em) { /*612px*/

  .product {
    width: 49%;
    background-color: #EEEEEE;
    height: 350px;
    box-shadow: 3px 1px 5px #777777;
    margin-top: 10px;
  }

  .product img {
    width: 93%;
    border: 1px solid #C2185B;
    margin: 3.5% 3.5%;
  }

  .product h3 {
    color: #526CFE;
    font-size: 1em;
    padding-left: 3.5%;
    font-weight: normal;
  }

}

@media (min-width: 40.625em) { /*650px*/

  .title-comment {
    font-size: 1em;
  }

  .title-border {
    width: 309px;
  }

  .comment {
    font-size: 0.9em;
  }

  .title-product h2, .title-service h2 {
    font-size: 1.1em;
  }

}

@media (min-width: 45em) { /*720px*/

  .title-comment {
    font-size: 1.1em;
  }

  .title-border {
    width: 340px;
  }

  .comment {
    font-size: 1em;
  }

}

@media (max-width: 49.9375em) { /*799px*/

  .logo {
    padding: 0.75em;
  }

  .nav {
    width: 100%;
    background-color: #C2185B;
    opacity: 0.6;
    height: 7.125em;
    display: none;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .nav li {
    list-style: none;
    padding: 0.25em 0;
  }

  .nav li:focus {
    opacity: 1;
  }

  .nav li a {
    text-decoration: none;
    color: #FFF;
  }

  .shadow-comment {
    top: 2%;
  }

}

@media (min-width: 50em) { /*800px*/

  .header {
    height: 4.125em;
    position: fixed;
  }

  .logo {
    width: 10.1875em;
    height: 2.625em;
    position: fixed;
    padding: 0.8em 0 0 0.9em;
  }

  .logo img {
    width: 10.1875em;
    height: 2.625em;
  }

  .menu {
    display: none;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 1.25em;
    width: 100%;
    display: block !important;
    height: 4.125em;
    margin-top: 0;
  }

  .nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    line-height: 3.700em;
  }

  .nav li {
    padding-left: 0.5em;
  }

  .nav li a {
    text-decoration: none;
    font-style: normal;
    color: #FFF;
    font-size: 0.8em;
  }

  .nav li a:hover, .selected {
    border-bottom: 0.2em solid #FFF;
    padding-bottom: 0.425em;
  }

  .separation {
    height: 4.125em;
  }

  .shadow-banner {
    height: 99%;
  }

  .shadow-comment {
    height: 60%;
    width: 35%;
    margin: 9% 61% 3%;
  }

  .title-comment {
    font-size: 0.8em;
  }

  .title-border {
    width: 248px;
  }

  .comment {
    font-size: 0.7em;
  }

  .container-product, .container-service {
    padding: 40px 40px;
  }

  .title-product {
    padding: 0.6% 1.5%;
    width: 36%;
  }

  .title-service {
    padding: 0.6% 1.5%;
    width: 40%;
  }

  .title-product h2, .title-service h2 {
    font-weight: normal;
    font-size: 1.3em;
  }

  .border-title {
    border-bottom: 3px solid #C2185B;
    width: 44%;
    margin-top: -3px;
  }

  .border-title-service {
    border-bottom: 3px solid #C2185B;
    width: 46%;
    margin-top: -3px;
  }

  .product {
    /*width: 49%;
    height: 55%;*/
    width: 32%;
    height: 333px;
    margin-top: 40px;
  }

  .product img {
    width: 95%;
    margin: 2.5% 2.5%;
  }

  .product h3 {
    font-size: 1.3em;
    padding-left: 2.5%;
  }

  .product p {
    padding-left: 2.5%;
    font-size: 0.9em;
  }

  .separation-container {
    margin: 15px 40px;
  }

}

@media (min-width: 55em) { /*880px*/

  .nav li a {
    font-size: 0.9em;
  }

  .title-product {
    width: 34%;
  }

  .border-title {
    width: 42%;
  }

  .title-service {
    width: 36%;
  }

  .border-title-service {
    width: 44%;
  }

}

@media (min-width: 59.625em) { /*954px*/

  .nav li a {
    font-size: 1em;
  }

  .title-comment {
    font-size: 0.9em;
  }

  .title-border {
    width: 279px;
  }

  .comment {
    font-size: 0.8em;
  }

  .title-product h2, .title-product h2 {
    font-size: 1.4em;
  }

  .product h3 {
    font-size: 1.4em;
  }

  .product p {
    font-size: 0.9em;
  }

}

@media (min-width: 64em) { /*1024px*/

  .header, .separation, .nav {
    height: 5.225em;
  }

  .logo {
    padding: 1.375em 0 0 1.5em;
  }

  .nav {
    right: 1.25em;
  }

  .nav ul {
    line-height: 4.600em;
  }

  .nav li {
    padding-left: 0.8em;
  }

  .nav li a {
    font-size: 1.1em;
  }

  .nav li a:hover, .selected {
    border-bottom: 0.2em solid #FFF;
    padding-bottom: 0.525em;
  }

  .title-comment {
    font-size: 1em;
  }

  .title-border {
    width: 309px;
  }

  .comment {
    font-size: 0.9em;
  }

  .title-product h2, .title-service h2 {
    font-size: 1.5em;
  }

  .product {
    width: 31%;
    height: 55%;
  }

  .product h3 {
    font-size: 1.5em;
  }

  .product p {
    font-size: 1em;
  }

}

@media (min-width: 67.5em) { /*1080px*/

  .title-product {
    width: 32%;
  }

  .border-title {
    width: 40%;
  }

  .title-service {
    width: 34%;
  }

  .border-title-service {
    width: 42%;
  }

}

@media (min-width: 71.25em) { /*1140px*/

  .title-comment {
    font-size: 1.1em;
  }

  .title-border {
    width: 342px;
  }

  .comment {
    font-size: 1em;
  }

  .title-product h2, .title-service h2 {
    font-size: 1.6em;
  }

  .title-product {
    width: 32%;
  }

  .border-title {
    width: 40%;
  }

  .title-service {
    width: 34%;
  }

  .border-title-service {
    width: 42%;
  }

  .product h3 {
    font-size: 1.6em;
  }

  .product p {
    font-size: 1.1em;
  }

}


@media (min-width: 75em) { /*1200px*/

  .nav li {
    padding-left: 1.2em;
  }

  .nav li a {
    font-size: 1.2em;
  }

  .title-comment {
    font-size: 1.1em;
  }

  .title-border {
    width: 342px;
  }

  .comment {
    font-size: 0.9em;
  }

  .title-product {
    width: 30%;
  }

  .border-title {
    width: 38%;
  }

  .title-service {
    width: 32%;
  }

  .border-title-service {
    width: 40%;
  }

}

@media (min-width: 79.375em) { /*1270px*/

  .title-comment {
    font-size: 1.2em;
  }

  .title-border {
    width: 373px;
  }

  .comment {
    font-size: 1em;
  }

  .title-product h2, .title-service h2 {
    font-size: 1.7em;
  }

  .product h3 {
    font-size: 1.7em;
  }

  .product p {
    font-size: 1.1em;
  }

}

@media (min-width: 84.375em) { /*1350px*/

  .header, .separation, .nav {
    height: 5.4375em;
  }

  .logo {
    padding: 1.375em 0 0 1.5em;
  }

  .logo img {
    width: 10.1875em;
    height: 2.625em;
  }

  .nav {
    right: 1.95em;
  }

  .nav ul {
    line-height: 4.7125em;
  }

  .nav li {
    padding-left: 1.425em;
  }

  .nav li a {
    font-size: 1.25em;
  }

  .title-comment {
    font-size: 1.375em;
  }

  .title-border {
    width: 430px;
  }

  .comment {
    font-size: 1.125em;
  }

  .title-product h2, .title-service h2 {
    font-size: 1.8em;
  }

  .title-product {
    width: 29%;
  }

  .border-title {
    width: 35%;
  }

  .product h3 {
    font-size: 1.8em;
  }

  .product p {
    font-size: 1.1em;
  }

}

@media (min-width: 100em) { /*1600px*/

  .header, .separation, .nav{
    height: 5.7375em;
  }

  .logo {
    padding: 1.675em 0 0 1.5em;
  }

  .nav ul {
    line-height: 5.2125em;
  }

  .nav li a {
    font-size: 1.45em;
  }

}